:root {
  --max-width: 1100px;

  --white: #FDFDFD;
  --background: #1B2033;
  --navbar-background: #252835;
  --accent-primary: #00B6DE;
  --accent-secondary: #52E0FF;
  --dark-blue-text: #1C2C44;
  --gray-text: #373737;

  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
}

h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
